# Ignorar archivos y carpetas temporales fuera del control de código
AppData/
**/AppData/**
**/Local/**
**/Temp/**
*.tmp

# Ignorar configuraciones locales de Android
android/local.properties

# Ignorar carpetas nativas para EAS Build
/android
/ios

# Ignorar archivos temporales de Gradle
android/.gradle/
android/build/
android/app/build/
**/.gradle/
**/build/
